@import 'tailwindcss';
@plugin "daisyui" {
	themes: light --default;
}
@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #4f46e5;
}

@theme {
	--font-sans: InterVariable, sans-serif;
	--font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
