<%- include('partials/start-page.html') %> <%-
include('partials/components/header-component.html') %>

<main class="relative">
	<% if(!session.userId){ %>
	<div class="alert mt-2" id="login-banner">
		<span>
			Debes
			<a href="/login" class="link">iniciar sesión</a>
			para poder editar los productos
		</span>
		<button type="button" class="btn btn-sm btn-ghost btn-square" aria-label="Dismiss" id="close-btn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-5"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M6 18 18 6M6 6l12 12"
				></path>
			</svg>
		</button>
	</div>
	<% } %>

	<div class="mx-auto max-w-full px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
		<header>
			<h2 class="text-xl font-bold text-base-content sm:text-3xl"><%= title %></h2>

			<p class="mt-4 max-w-md text-base-content/60">
				Desde aquí puedes ver todos los productos disponibles de todos los
				usuarios. Puedes filtrarlos por tag, rango de precio y nombre de producto.
				También puedes ordenarlos por nombre de producto o precio.
			</p>
		</header>

		<div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8">
			<%- include('partials/components/vertical-filters-component.html', {
			limitOptions, sortOptions, limit: productQuery.limit, selectedTags:
			productQuery.selectedTags, minPrice: productQuery.minPrice, maxPrice:
			productQuery.maxPrice, search: productQuery.search, sortQuery:
			productQuery.sortQuery, }) %>

			<div class="lg:col-span-3">
				<ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
					<% if(products.length === 0) { %>
					<div role="alert" class="alert col-span-full">
						<span>No se han encontrado productos</span>
					</div>
					<% } else { products.forEach(product=>{ %> <%-
					include('partials/components/product-component.html', { product,
					randomImageUrl }) %> <% })} %>
				</ul>

				<%- include('partials/components/pagination-component.html', { path,
				pages, currentPage: productQuery.currentPage, queryBase:
				productQuery.queryBase })%>
			</div>
		</div>
	</div>
</main>
<%- include('partials/end-page.html') %>
