<%- include('partials/start-page.html', {title: title}) %>
<%- include('partials/components/header-component.html') %>
<main>
	<div class="mx-auto max-w-full px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
		<header class="mb-8">
			<h2 class="text-xl font-bold text-base-content sm:text-3xl"><%= title %></h2>
		</header>
		<%- include('partials/components/horizontal-filters-component.html', {
			limitOptions,
			sortOptions,
			limit: productQuery.limit,
			selectedTags: productQuery.selectedTags,
			minPrice: productQuery.minPrice,
			maxPrice: productQuery.maxPrice,
			search: productQuery.search,
			sortQuery: productQuery.sortQuery,
		}) %>
		<div class="overflow-x-auto rounded-box border border-base-300">
			<table class="table table-zebra">
				<thead>
					<tr>
						<th>Nombre producto</th>
						<th>Precio</th>
						<th>Tags</th>
						<th>Fecha de creación</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<% if(products.length===0) { %>
					<tr>
						<td colspan="5">
							<div role="alert" class="alert">
								<span>No se han encontrado productos</span>
							</div>
						</td>
					</tr>
					<% } else { products.forEach(product=>{ %>
					<tr>
						<td class="font-medium"><%= product.name%></td>
						<td><%= product.price %>€</td>
						<td>
							<div class="flex flex-wrap gap-2">
								<% product.tags.forEach(tag => { %>
								<%- include('partials/components/tag-component.html', {tag: tag}) %>
								<%}) %>
							</div>
						</td>
						<td><%= formatDate(product.createdAt) %></td>
						<td>
							<a class="btn btn-sm btn-primary" href="/me/products/edit/<%= product._id %>">
								Editar
							</a>
							<button class="btn btn-sm btn-error delete-btn" data-id="<%=product._id%>">
								Eliminar
							</button>
						</td>
					</tr>
					<% })} %>
				</tbody>
			</table>
		</div>

		<div class="mt-6 flex justify-end">
			<a href="/me/products/new" class="btn btn-primary">Añadir producto</a>
		</div>

		<%- include('partials/components/pagination-component.html', {
			path,
			pages,
			currentPage: productQuery.currentPage,
			queryBase: productQuery.queryBase
		})%>
	</div>
</main>

<%- include('partials/end-page.html') %>
