<header class="navbar bg-base-100 shadow-sm px-4 sm:px-6 lg:px-8">
	<div class="navbar-start">
		<div class="dropdown">
			<div tabindex="0" role="button" class="btn btn-square btn-ghost md:hidden">
				<span class="sr-only">Toggle menu</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="size-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					stroke-width="2"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M4 6h16M4 12h16M4 18h16"
					></path>
				</svg>
			</div>
			<ul
				tabindex="-1"
				class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow"
			>
				<li><a href="/">Inicio</a></li>
				<% if(session.userId) {%>
				<li><a href="/me/products">Gestor de productos</a></li>
				<li><a href="/logout">Cerrar sesión</a></li>
				<% } else { %>
				<li><a href="/register">Registrarse</a></li>
				<li><a href="/login">Iniciar sesión</a></li>
				<% } %>
			</ul>
		</div>
		<ul class="menu menu-horizontal px-1 hidden md:flex">
			<li><a href="/">Inicio</a></li>
			<% if(session.userId) {%>
			<li><a href="/me/products">Gestor de productos</a></li>
			<% }%>
		</ul>
	</div>


	<div class="navbar-end gap-2">
		<% if(!session.userId) { %>
		<a class="btn btn-ghost hidden sm:inline-flex" href="/register">Registrarse</a>
		<a class="btn btn-primary" href="/login">Iniciar sesión</a>
		<% } else {%>
		<a class="btn btn-ghost hidden sm:inline-flex" href="/logout">Cerrar sesión</a>
		<% }%>
	</div>
</header>
