<form action="<%= path %>" method="GET" class="flex flex-wrap justify-between items-end gap-4 mb-4 border border-base-300 rounded-box p-4" id="filters-form">
	<div class="flex flex-wrap gap-4 items-end">
		<fieldset class="fieldset p-0 max-w-56">
			<legend class="fieldset-legend">Buscar</legend>
			<label class="input input-sm w-full">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-4 opacity-50"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
					></path>
				</svg>
				<input
					type="text"
					id="search"
					name="search"
					value="<%=search%>"
					placeholder="Buscar"
				/>
			</label>
		</fieldset>

		<div class="flex gap-4">
			<fieldset class="fieldset p-0">
				<legend class="fieldset-legend">Productos por página</legend>
				<select id="productsPerPage" name="limit" class="select select-sm">
					<% limitOptions.forEach(option => { %>
					<option value="<%= option %>" <%= limit === option ? 'selected' : '' %>><%= option %></option>
					<%})%>
				</select>
			</fieldset>
			<fieldset class="fieldset p-0">
				<legend class="fieldset-legend">Ordenar por</legend>
				<select id="sort" name="sort" class="select select-sm">
					<% for(const option in sortOptions) { %>
					<option value="<%= option %>" <%= option === sortQuery ? 'selected' : '' %>><%= option %></option>
					<% } %>
				</select>
			</fieldset>
		</div>

		<fieldset class="fieldset p-0">
			<legend class="fieldset-legend">Tags</legend>
			<div class="dropdown">
				<div tabindex="0" role="button" class="btn btn-sm btn-outline">Tags</div>
				<ul
					tabindex="-1"
					class="dropdown-content menu bg-base-100 rounded-box z-10 w-56 p-2 shadow"
				>
					<% tags.forEach(tag=> {%>
					<li>
						<label class="label cursor-pointer justify-start gap-2" for="<%= tag %>">
							<input
								type="checkbox"
								name="tags"
								id="<%= tag %>"
								value="<%= tag %>"
								class="checkbox checkbox-sm"
								<%=selectedTags.includes(tag) ? 'checked' : '' %>
							/>
							<span class="label-text"><%= tag %></span>
						</label>
					</li>
					<% }) %>
				</ul>
			</div>
		</fieldset>

		<fieldset class="fieldset p-0 max-w-56">
			<legend class="fieldset-legend">Precio</legend>
			<div class="flex gap-4">
				<label class="input input-sm">
					<input
						type="number"
						name="minPrice"
						id="minPrice"
						step="0.01"
						min="0"
						value="<%= minPrice %>"
						placeholder="Desde"
					/>
					<span class="label">€</span>
				</label>
				<label class="input input-sm">
					<input
						type="number"
						name="maxPrice"
						id="maxPrice"
						step="0.01"
						value="<%= maxPrice  %>"
						placeholder="Hasta"
					/>
					<span class="label">€</span>
				</label>
			</div>
		</fieldset>
	</div>
	<button type="submit" class="btn btn-primary btn-sm" id="filters-btn">
		Aplicar filtros
	</button>
</form>
