<div class="join flex justify-center mt-6">
	<a
		href="<%= path %>?page=<%= currentPage === 1 ? currentPage : currentPage - 1 %>&<%= queryBase %>"
		class="join-item btn btn-sm"
		aria-label="Previous page"
	>
		«
	</a>

	<% for(let i = 1; i < pages +1; i++) { %>
	<a
		href="<%= path %>?page=<%= i %>&<%= queryBase %>"
		class="join-item btn btn-sm <%= i === currentPage ? 'btn-active btn-primary' : '' %>"
	>
		<%= i %>
	</a>
	<% } %>

	<a
		href="<%= path %>?page=<%= currentPage === pages ? currentPage : currentPage + 1 %>&<%= queryBase %>"
		class="join-item btn btn-sm"
		aria-label="Next page"
	>
		»
	</a>
</div>
